/*
Colorblind safe color palette from colorbrewer2.org.
#edf8e9 - light green
#74c476 - green
#006d2c - Dark green
*/

body {
  background-color: #edf8e9;
  color: #74c476;
  text-align: center;
}
h1{
  color: #006d2c;
}
